name: AppSec CI/CD Security Pipeline

on:
  push:
    branches:
      - main

jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Trivy
      run: |
        curl -sfL https://github.com/aquasecurity/trivy/releases/download/v0.38.3/trivy_0.38.3_Linux-64bit.deb -o trivy.deb
        sudo dpkg -i trivy.deb

    - name: Run Trivy vulnerability scan
      run: |
        trivy fs --format json --output trivy-report.json .

    - name: Upload report to GitHub
      uses: actions/upload-artifact@v4
      with:
        name: trivy-report
        path: trivy-report.json

